@using Company.DAL.Entites
@model Employee
@{
    ViewData["Title"] = "Details";
}

<h1>Employeaa Details</h1>
<br />
<br />
    <form asp-action="Details">
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" readonly />
        </div>

        <div class="mb-3">
            <label asp-for="Age" class="form-label"></label>
            <input asp-for="Age" class="form-control" readonly />
        </div>

        <div class="mb-3">
            <label asp-for="Salary" class="form-label"></label>
            <input asp-for="Salary" class="form-control" readonly />
        </div>

        <div class="mb-3">
            <label asp-for="DepartmentId" class="form-label"></label>
            <input asp-for="DepartmentId" class="form-control" readonly />
        </div>

        <div class="d-flex justify-content-between mt-4">
            <a asp-action="Index" asp-controller="Employee" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Cancel
            </a>
        </div>
    </form>

